$font_headers: 'Roboto Slab', serif;
$font_content: 'Open Sans', sans-serif;

$font_content_size: 14px;

//task's statuses

$task_open: #c7f38c;
$task_in_progress: #87a3eb;
$task_completed: #3800cc;
$task_canceled: #ffd993;

