//
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: md-get-palette-color(blue, A200), // The primary color of your application
    accent: md-get-palette-color(red, A200) // The accent or secondary color
));

@import "mixins";
@import "variables";
@import "~vue-material/dist/theme/all"; // Apply the theme

//components
@import "components/components.modals";
@import "components/components.top-toolbar";
@import "components/components.breadcrumb";
@import "components/components.task";
@import "components/components.create-task-form";
//pages
@import "pages/pages.default";
@import "pages/pages.profile";
